<section id="packages" class="inverse">
<div class="container">
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<div class="section-title text-center">
			<h1><%= @category.name %></h1>
		</div>
		<% @blogs.each do |blog| %>
		<% if blog.blogcategory_id == @category.id %>
			<%= link_to blog_path(blog), :action => 'go' do %>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="package-list wow fadeInUp">
						
							<div class="package-thumb">
								<%= image_tag blog.image.url, width:'100%' %>
							</div>
							<div class="package-info">
								<h3><%= blog.title %></h3>
								<span class="pull-left">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</span>
								<span class="pull-right price">300 view</span>
							</div>
					</div>
				</div>
			<% end %>
		<% end %>
		<% end %>
	</div>





	<div class="col-xs-12 col-sm-4 col-md-3">                
        <div class="sidebar">
            <div class="sidebar-item">
                <h3>danh mục</h3>
                <ul class="category-list">
                <% @categories.reverse.each do |category| %>
                    <li><%= link_to category.name, blogcategory_path(category), class:'fa fa-angle-right' %></li>
                <% end %>
                </ul>
            </div><!--end sidebar-item-->                                        
           
            
        </div><!--end sidebar-->
    </div>	
</div>

</section>