<h2 class="page-header">Quản lý Order</h2>
<table class="table table-striped">		
<tr>
  <th>ID</th>
  <th>Tên khách hàng</th>
  <th>Đi tour</th>
  <th>Số lượng người</th>
  <th>Số đt</th>
  <th>Email</th>
  <th>Ghi chú</th>
  <th>Trạng thái</th>
  <th>Actions</th>
</tr>
<% @orders.each do |order| %>
	<tr>
	  <td><%= order.id %></td>    
	  <td><%= order.User_name %></td> 
	  <% @tour_name.each do |tour| %>
	  	<% if tour.id == order.tour_id %>
	  		<td><%= tour.title %></td>   
	  	<% end %>
	  <% end %>      
	  <td><%= order.number %></td>    
	  <td><%= order.telephonenum %></td>    
	  <td><%= order.email %></td>    
	  <td><%= order.note %></td>    
	  <% if order.status == 1 %>
	  	<td> Đã xử lý</td>   
	  <% else %>
	  	<td> Chưa xử lý</td>  
	  <% end %>
	  <td><%= link_to "Edit", edit_admin_order_path(order), class:'btn btn-primary' %> <%= link_to "Delete", admin_order_path(order), class:'btn btn-danger', method: :delete, data: {confirm: 'Are you sure'} %></td>
	</tr>
<% end %>
</table>
<%= will_paginate @blogs %>