<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span>Travel </span>Admin</a>
          <ul class="user-menu">
            <li class="dropdown pull-right">
              <a class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>  <%= current_user.email %><span class="caret"></span></a>
              <%= link_to "Log out", admin_logout_path %>
            </li>
          </ul>

        </div>
           
      </div><!-- /.container-fluid -->
    </nav>


    <div id="sidebar-collapse" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sidebar">
      <ul class="nav menu">
        <li class="<%= params[:controller] == 'admin/options' ? 'active' : '' %>"><%= link_to '<i class="glyphicon glyphicon-home"></i> Dasboard'.html_safe, admin_options_path %></li>
        <li class="<%= params[:controller] == 'admin/blogs' ? 'active' : '' %>"><%= link_to '<i class="glyphicon glyphicon-book"></i> Blog'.html_safe, admin_blogs_path %></li>
        <li class="<%= params[:controller] == 'admin/blogcategories' ? 'active' : '' %>"><%= link_to '<i class="glyphicon glyphicon-save-file"></i> Blog category'.html_safe, admin_blogcategories_path %></li>
        <li class="<%= params[:controller] == 'admin/tours' ? 'active' : '' %>"><%= link_to '<i class="glyphicon glyphicon-plane"></i> Tour'.html_safe, admin_tours_path %></li>
        <li class="<%= params[:controller] == 'admin/tourcategories' ? 'active' : '' %>"><%= link_to '<i class="glyphicon glyphicon-open-file"></i> Tour category'.html_safe, admin_tourcategories_path %></li>
        <li class="<%= params[:controller] == 'admin/orders' ? 'active' : '' %>"><%= link_to '<i class="glyphicon glyphicon-usd"></i> Order'.html_safe, admin_orders_path %></li>
        <li class="<%= params[:controller] == 'admin/users' ? 'active' : '' %>"><%= link_to '<i class="glyphicon glyphicon-user"></i> User'.html_safe, admin_users_path %></li>
      </ul>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 main sidebar">
      <div class="clearfix"></div>
        <!-- Alerts & Messages -->
        <% if flash[:notice] %>
          <div class="alert alert-success"><%= flash[:notice] %></div>
        <% end %>

        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>        
          <%= yield %> 
      </div>
    </div>
    
    
    
  </body>
</html>
