<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <%= link_to "CHUA CO LOGO", admin_tours_path, class:'navbar-brand' %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="<%= params[:controller] == 'admin/tours' ? 'active' : '' %>"><%= link_to "TOUR" , admin_tours_path %></li>
                    <li  class="<%= params[:controller] == 'admin/tourcategories' ? 'active' : '' %>"><%= link_to "TOUR CATEGORY" , admin_tourcategories_path %></li>
                    <li class="<%= params[:controller] == 'admin/blogs' ? 'active' : '' %>"><%= link_to "BLOG" , admin_blogs_path %></li>
                    <li class="<%= params[:controller] == 'admin/blogcategories' ? 'active' : '' %>"><%= link_to "BLOG CATEGORY" , admin_blogcategories_path %></li>
                    <li class="<%= params[:controller] == 'admin/users' ? 'active' : '' %>"><%= link_to "USER" , admin_users_path %></li>
                </ul>
                <%= render 'partials/admin/search' %>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>


    <div class="noidungpost">
        <div class="container">
            <div class="row">  
            <div id="user_nav" class="pull-right">
                <% if current_user %>
                  Logged in as <%= current_user.email %>.
                  <%= link_to "Log out", admin_logout_path %>
                <% else %>
                  <%= link_to "log in", admin_login_path %>
                <% end %>
              </div> 
            <div class="clearfix"></div>
              <!-- Alerts & Messages -->
              <% if flash[:notice] %>
                <div class="alert alert-success"><%= flash[:notice] %></div>
              <% end %>

              <% if flash[:alert] %>
                <div class="alert alert-danger"><%= flash[:alert] %></div>
              <% end %>        
                <%= yield %> 
            </div>
        </div> 
    </div>
  </body>
</html>
