<div id="banner" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img data-src="<%= image_tag("banner/1.jpg", alt: "logo") %>">
			<div class="caption-info">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-8 col-md-offset-2">
							<div class="caption-info-inner text-center">
								<h1 class="animated fadeInDown">chào mừng đến với công ty du lịch Let's Go</h1>
								<p class="animated fadeInUp">Chúng tôi cung cấp dịch vụ các loại Tour trong và ngoài nước</p>
								<%= link_to("Xem danh sách Tour", tours_path , :class => "animated fadeInUp btn btn-primary page-scroll") %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<img data-src="<%= image_tag("banner/2.jpg", alt: "logo") %>">
			<div class="caption-info">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-8 col-md-offset-2">
							<div class="caption-info-inner text-center">
								<h1 class="animated zoomIn">We make awesome tour</h1>
								<p class="animated zoomIn">Lorem Ipsum is simply dummy text of the printing and typeseatting industry. Lorem Ipsum has been the industry's</p>
								<a href="#contact-us" class="animated zoomIn btn btn-primary page-scroll">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<img data-src="<%= image_tag("banner/3.jpg", alt: "logo") %>">
			<div class="caption-info">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-8 col-md-offset-2">
							<div class="caption-info-inner text-center">
								<h1 class="animated fadeInLeft">Find your tour today</h1>
								<p class="animated fadeInLeft">Lorem Ipsum is simply dummy text of the printing and typeseatting industry. Lorem Ipsum has been the industry's</p>
								<a href="#hot-deals" class="animated fadeInLeft btn btn-primary page-scroll">Find a tour</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--end carousel-inner-->

	<!-- Controls -->
	<a class="control left" href="#banner" data-slide="prev"><i class="fa fa-long-arrow-left"></i></a>
	<a class="right control" href="#banner" data-slide="next"><i class="fa fa-long-arrow-right"></i></a>
</div>

<!-- Services Section -->
<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-title text-center">
					<h1>dịch vụ</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<div class="service-list text-center wow fadeInUp">
					<i class="fa fa-train"></i>
					<h3>Đặt tour</h3>
					<p>Chúng tôi cung cấp các tour du lịch với giá rẻ nhất và chất lượng tốt nhất</p>
				</div>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<div class="service-list text-center wow fadeInUp">
					<i class="fa fa-bed"></i>
					<h3>Khách sạn</h3>
					<p>Tổng hợp hơn 200,000 khách sạn trong nước và quốc tế đang có khuyến mãi giá tốt, quý khách có thể dễ dàng tìm kiếm phòng khách sạn cần đặt ngay tại website công ty Let's Go. Bên cạnh việc có thể đặt mua được phòng khách sạn giá rẻ trực tuyến đơn giản, an toàn, tiết kiệm...quý khách còn có thể tham khảo, so sánh giá phòng khách sạn được cập nhật liên tục tại thời điểm quý khách muốn đặt mua.</p>
				</div>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<div class="service-list text-center wow fadeInUp">
					<i class="fa fa-plane"></i>
					<h3>Vé máy bay</h3>
					<p>Phòng Vé máy bay công ty Let's Go là một trong những đại lý được ủy quyền của nhiều hãng hàng không trong nước và quốc tế. Quý khách có thể đặt vé máy bay giá rẻ trực tuyến đơn giản, an toàn, tiết kiệm ngay tại Website Let's Go. Đồng thời cũng có thể so sánh vé máy bay nội địa, quốc tế trực tiếp từ các hãng hàng không đồng thời thường xuyên cập nhật khuyến mại, ưu đãi lớn - Dịch vụ tin cậy, hỗ trợ 24/7.</p>
				</div>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<div class="service-list text-center wow fadeInUp">
					<i class="fa fa-ticket"></i>
					<h3>Xe du lịch</h3>
					<p>Phòng vận chuyển công ty Let's Go cung cấp dịch vụ cho thuê các loại xe du lịch với giá cực tốt. Chúng tôi cho thuê các dòng xe du lịch đời mới từ 4 đến 47 chỗ của tất cả các hãng. Quý khách có thể tham khảo thêm thông tin các loại xe du lịch cho thuê, bảng giá thuê xe ngay tại Website và đặt thuê xe tuyến để nhận được nhiều ưu đãi hấp dẫn.</p>
				</div>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<div class="service-list text-center wow fadeInUp">
					<i class="fa fa-ship"></i>
					<h3>Cruises Booking</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typeseatting industry. Lorem Ipsum has been the industry's</p>
				</div>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<div class="service-list text-center wow fadeInUp">
					<i class="fa fa-home"></i>
					<h3>Amazing tour</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typeseatting industry. Lorem Ipsum has been the industry's</p>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!--end Services-->

<section id="packages" class="inverse">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-title text-center">
					<h1>Tour mới</h1>
				</div>
			</div>
		</div>
		
		<div class="row">
		<% @tour_new.each do |tour| %>
		<%= link_to tour_path(tour), :action => 'go' do %>
			<div class="col-xs-6 col-sm-6 col-md-4">
				<div class="package-list wow fadeInUp">
					
						<div class="package-thumb">
							<%= image_tag tour.image.url, width:'100%' %>
							<div class="duration"><%= tour.time %></div>
						</div>
						<div class="package-info">
							<h3><%= tour.title %></h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typeseatting industry. Lorem Ipsum has been the industry's</p>
							<span class="pull-left">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<span class="review-count"> - 100 review</span>
							</span>
							<span class="pull-right price"><%= tour.price %>₫</span>
						</div>
					</a>
				</div>
			</div>
			<% end %>
		<% end %>
		</div>
		
			
			
	</div>
</section>
<!-- end Packages -->

<section id="hot-deals">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-title text-center">
					<h1>Tour hot</h1>
				</div>
			</div>
		</div>
	</div>
	
	<ul class="tour-list">
	<% @tour_hot.each do |tour| %>
		<li>
			<div class="tour-thumb">
				<%= image_tag tour.image.url, width:'100%' %>
				<div class="overlay">
					<div class="ovelay-inner text-center">
						<h2>Tour hot</h2>
						<p><em><%= tour.title %></em></p>
						<p><%= tour.price %>₫</p>
						<%= link_to("Chi tiết", tour_path(tour) , :class =>"btn btn-primary") %>
					</div>
				</div>
			</div>
		</li>
	<% end %>
		
	
</section>
<!--end hot-deals-->

<section id="gallery">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-title text-center">
					<h1>Gallery</h1>
				</div>
			</div>
		</div>		
		
	</div>
	
	<ul class="gallery-item">
	<% @tour_hinh.each do |tour| %>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
			<div class="thumb">
				<%= image_tag tour.image.url, width:'100%' %>
				<div class="gallery-overlay">
				</div>
			</div><!--end post thumb-->
		</div>		
	<% end %>
	</ul>
	
</section>
<!-- end gallery-->

<!-- Blog Section -->
<section id="blog" class="inverse">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-title text-center">
					<h1>Cẩm nang du lịch</h1>
				</div>
			</div>
		</div>
		
		<div class="row">
		<% @blog_new.each do |blog| %>
			<%= link_to blog_path(blog), :action => 'go' do %>
			<div class="col-xs-6 col-md-4">
				<div class="post wow fadeInUp">
					<div class="post-thumb">
						<%= image_tag blog.image.url, width:'100%' %>
						<div class="post-overlay">
							<i class="fa fa-link"></i>
						</div>			
					</div>
					<div class="post-bottom">
						<h3><%= blog.title %></h3>
						<p><%= blog.body.truncate_words(4) %></p>
						<div class="pull-left">
							<span class="post-date"><i class="fa fa-calendar"></i> <%= blog.created_at %></span>
						</div>
						
						<div class="pull-right">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-o"></i>
						</div>
						
					</div>
				</div><!--end post-->
			</div>	
			<% end %>
		<% end %>
			
		</div>
	</div>
</section>
<!--end blog-->

<!-- Testimonials Section -->
<section id="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-title text-center">
					<h1>Phản hồi của khách hàng</h1>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
					<p>“Với giá là khoảng 5 triệu/người cho một tour du lịch Thái Lan 5 ngày 4 đêm thì nhìn chung đây là một chương trình rất tốt. Chương trình sắp xếp tương đối hợp lý. Thức ăn phục vụ trong suốt chương trình cũng rất ngon.  Tuy nhiên, nếu có thể cho khách thưởng thức nhiều hơn những món đặc sản của vùng đất Thái Lan thì sẽ tuyệt vời hơn nữa. Thái độ phục vụ của Hướng dẫn viên du lịch rất thân thiện, đặc biệt là Hướng dẫn viên du lịch địa phương: vui tính, hiểu biết rộng."</p>
					<p>Phùng Thị Mỹ Phượng</p>
				</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
					<p>“Trước hết, tôi xin gửi lời cảm ơn chân thành tới công ty Let's Go đã mang đến cho tôi và gia đình một đường tour thú vị.  Chuyến đi mở ra cho tôi một cái nhìn mới về đất nước Singapore: xanh + sạch + đẹp… các điểm quan hấp dẫn và hơn thế nữa là đất nước của sự hiện đại, không kém gì các quốc gia phát triển ngày nay. Cùng với sự hướng dẫn nhiệt tình của Hướng dẫn viên địa phương và đặc biệt là Hướng dẫn viên Let's Go (Ms Thơm) mang đến cho chúng tôi một tour đáng nhớ. Xin cảm ơn và chúc thành công!”</p>
					<p>Nguyễn Bích</p>
				</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
					<p> “Chúng tôi cảm thấy vui và học hỏi được nhiều điều bổ ích trong chuyến đi này và cũng mong công ty Let's Go tạo thêm nhiều điều kiện nữa để nhiều người có thể được đi tour Du Lịch Việt.  Chúng tôi sẽ giới thiệu cho nhiều người hơn nữa biết về công ty Let's Go. Chúng tôi thích ở khách sạn Asia Pattaya hơn Color Living và rất thích ăn buffet ở khách sạn này vì thức ăn ở đây rất ngon và rất vừa vặn. Mong công ty Du Lịch Việt ngày càng phát triển hơn trong ngành du lịch.”</p>
					<p>Trần Lộc Thọ</p>
			</div>
		</div>
		
	</div>
</section>
<!--end testimonials-->

<!-- Contact Us Section-->
