<h2 class="page-header">Quản lý danh mục <%= link_to "Tạo mới", new_admin_tourcategory_path, class:'btn btn-success pull-right' %></h2>
<table class="table table-striped">
<tr>
  <th>Danh mục</th>
  <th>Ngày tạo</th>
  <th>Actions</th>
</tr>
<% @categories.each do |category| %>
	<tr>
	  <td><%= category.name %></td>  
	  <td><%= category.created_at.to_time.strftime("%d - %m - %Y") %></td>    
	  <td><%= link_to "Edit", edit_admin_tourcategory_path(category), class:'btn btn-primary' %> <%= link_to "Delete", admin_tourcategory_path(category), class:'btn btn-danger', method: :delete, data: {confirm: 'Are you sure'} %></td>
	</tr>
<% end %>
</table>
