<section id="packages" class="inverse">
	<div class="container">
			<%= form_for @order do |f| %>
				<!-- Check for errors -->
				<% if @order.errors.any? %>
				    <% @order.errors.full_messages.each do |msg| %>
				    	<!-- Show errors -->
				      	<div class="alert alert-danger"><%= msg %></div>
				    <% end %>
			  	<% end %>


				<h2 class="text-center">Đặt tour</h2>
				<div class="form-group">
					<%= f.label :tour_id %>
					<%= f.select :tour_id, Tour.all.collect {|x| [x.title, x.id]}, {:include_blank => 'Select One'},class:'form-control'%>
				</div>

				
				<div class="form-group">
					<%= f.label 'Gia ve' %>
					<%= @tour.price%>
				</div>

				<div class="form-group">
					<%= f.label 'Họ và Tên' %>
					<%= f.text_field :User_name ,class:'form-control' %>
				</div>

				<div class="form-group">
					<%= f.label 'Số người đi' %>
					<%= f.number_field :number ,class:'form-control',min: 1 %>
				</div>
			  
				<div class="form-group">
					<%= f.label 'SDT' %>
					<%= f.text_field :telephonenum ,class:'form-control' %>
				</div>

				<div class="form-group">
					<%= f.label 'email' %>
					<%= f.email_field :email ,class:'form-control' %>
				</div>

				<div class="form-group">
					<%= f.label :note %>
					<%= f.text_field :note ,class:'form-control' %>
				</div>
			  	<%= f.submit "Submit", class:'btn btn-primary' %>
				<%=link_to "Cancel", root_path, class:'btn btn-default' %>
			<% end %>
	</div>
</section>
