<h2 class="page-header">Manage Blog <%= link_to "Create New", new_admin_blog_path, class:'btn btn-success pull-right' %></h2>
<table class="table table-striped">
<tr>
  <th>Blog Title</th>
  <th>Create Date</th>
  <th>Actions</th>
</tr>
<% @blogs.each do |blog| %>
	<tr>
	  <td><%= blog.title %></td>  
	  <td><%= blog.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>    
	  <td><%= link_to "Edit", edit_admin_blog_path(blog), class:'btn btn-primary' %> <%= link_to "Delete", admin_blog_path(blog), class:'btn btn-danger', method: :delete, data: {confirm: 'Are you sure'} %></td>
	</tr>
<% end %>
</table>
<%= will_paginate @blogs %>
