<!DOCTYPE html>
<html>

<head>
    <title>BlogDuLich</title>
    <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CHUA CO LOGO</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><%= link_to "TOURS", root_path %></li>
                    <li><%= link_to "CẨM NANG DU LỊCH", blogs_path %></li>                    
                    <li><%= link_to "GIỚI THIỆU", about_path %></li>
                    <li><%= link_to "HỖ TRỢ", support_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">(08) 3933 8002</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <!-- het narbar -->
    <div class="noidungpost">
        <div class="banner">
            <div class="container">
                <h1>Tour Nhật Bản 5N4D : Mùa Hoa Anh Đào</h1>
                <h3> 5 Ngày 4 Đêm</h3>
                <h3>KH: 14/04 ; 07/04 (32.800.000/khách)</h3>
                <button type="button" class="btn btn-info">click me</button>
            </div>
        </div>
        <!-- het banner -->
        <div class="tieuchuan">
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>Tour chọn lọc chất lượng nhất
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>Bảo đảm giá tốt nhất
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>Đội ngũ tư vấn chi tiết và tận tình
                </div>
            </div>
        </div>
        <!-- het tieuchuan -->
        <div class="tournuocngoai">
            <div class="container">
                <div class="row">
                    <h1>tour nuoc ngoai</h1>
                    <hr class="style1">
                    <a href="#">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="tour">
                                <img src="images/image/moss_garden-wallpaper-1920x1080.jpg">
                                <h3>Tour Hàn Quốc 4N4Đ: Mùa Hoa Anh Đào - Xứ Sở Kim Chi</h3>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i> 4 Ngày 4 Đêm</p>
                                <p><i class="fa fa-calendar" aria-hidden="true"></i></i> Khởi hành 22,25/2/2017 - 22,25/3/2017 Khởi hành: 27,29,30/3/2017 - 1/4/2017: Phụ thu 1.000.000/Khách</p>
                                <p><i class="fa fa-money" aria-hidden="true"></i> 13.900.000 vnd</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="tour">
                                <img src="image/turkey_black_sea_region-wallpaper-1920x1080.jpg">
                                <h3>Tour Hàn Quốc 4N4Đ: Mùa Hoa Anh Đào - Xứ Sở Kim Chi</h3>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i> 4 Ngày 4 Đêm</p>
                                <p><i class="fa fa-calendar" aria-hidden="true"></i> Khởi hành 22,25/2/2017 - 22,25/3/2017 Khởi hành: 27,29,30/3/2017 - 1/4/2017: Phụ thu 1.000.000/Khách</p>
                                <p><i class="fa fa-money" aria-hidden="true"></i> 13.900.000 vnd</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="tour">
                                <img src="image/united_arab_emirates_skyscrapers_dubai_megapolis-wallpaper-1920x1080.jpg">
                                <h3>Tour Hàn Quốc 4N4Đ: Mùa Hoa Anh Đào - Xứ Sở Kim Chi</h3>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i> 4 Ngày 4 Đêm</p>
                                <p><i class="fa fa-calendar" aria-hidden="true"></i> Khởi hành 22,25/2/2017 - 22,25/3/2017 Khởi hành: 27,29,30/3/2017 - 1/4/2017: Phụ thu 1.000.000/Khách</p>
                                <p><i class="fa fa-money" aria-hidden="true"></i> 13.900.000 vnd</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- het tournuocngoai -->
        <div class="tourtrongnuoc">
            <div class="container">
                <div class="row">
                    <h1>tour trong nuoc </h1>
                    <hr class="style1">
                    <a href="#">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="tour">
                                <img src="image/moss_garden-wallpaper-1920x1080.jpg">
                                <h3>Tour Hàn Quốc 4N4Đ: Mùa Hoa Anh Đào - Xứ Sở Kim Chi</h3>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i> 4 Ngày 4 Đêm</p>
                                <p><i class="fa fa-calendar" aria-hidden="true"></i></i> Khởi hành 22,25/2/2017 - 22,25/3/2017 Khởi hành: 27,29,30/3/2017 - 1/4/2017: Phụ thu 1.000.000/Khách</p>
                                <p><i class="fa fa-money" aria-hidden="true"></i> 13.900.000 vnd</p>
                            </div>
                        </div>
                    </a>>
                    <a href="#">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="tour">
                                <img src="image/turkey_black_sea_region-wallpaper-1920x1080.jpg">
                                <h3>Tour Hàn Quốc 4N4Đ: Mùa Hoa Anh Đào - Xứ Sở Kim Chi</h3>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i> 4 Ngày 4 Đêm</p>
                                <p><i class="fa fa-calendar" aria-hidden="true"></i> Khởi hành 22,25/2/2017 - 22,25/3/2017 Khởi hành: 27,29,30/3/2017 - 1/4/2017: Phụ thu 1.000.000/Khách</p>
                                <p><i class="fa fa-money" aria-hidden="true"></i> 13.900.000 vnd</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="tour">
                                <img src="image/united_arab_emirates_skyscrapers_dubai_megapolis-wallpaper-1920x1080.jpg">
                                <h3>Tour Hàn Quốc 4N4Đ: Mùa Hoa Anh Đào - Xứ Sở Kim Chi</h3>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i> 4 Ngày 4 Đêm</p>
                                <p><i class="fa fa-calendar" aria-hidden="true"></i> Khởi hành 22,25/2/2017 - 22,25/3/2017 Khởi hành: 27,29,30/3/2017 - 1/4/2017: Phụ thu 1.000.000/Khách</p>
                                <p><i class="fa fa-money" aria-hidden="true"></i> 13.900.000 vnd</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- het tourtrongnuoc -->
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="thongtin">
                        <p>GIỚI THIỆU</p>
                        <a href="">Ve chung toy</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <p>HỎI ĐÁP</p>
                    <a href="">Ve chung toy</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <p>HỖ TRỢ</p>
                    <a href="">Ve chung toy</a>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis tincidunt odio. Quisque dignissim mi quis malesuada malesuada. Suspendisse suscipit, risus at finibus fringilla, arcu erat ullamcorper lectus, elementum tincidunt velit purus vitae nunc. Quisque laoreet nisl non sem porttitor, et lacinia metus scelerisque. Curabitur sit amet commodo velit. Donec placerat tortor mi, vitae dapibus ante sollicitudin vel. Praesent aliquam, ante non placerat lacinia, elit nisi accumsan ex, et maximus metus lacus vitae ante. Nam a justo elit. Vestibulum a leo mi. Praesent nibh elit, rutrum a laoreet et, hendrerit non dolor. Curabitur eget viverra enim, id lacinia leo. Proin id lectus quis urna dictum dictum. Suspendisse cursus accumsan lorem id tristique. Nam eu ipsum ac ipsum facilisis semper.</p>
        </div>
    </div>
    <%= yield %>
</body>

</html>
