<!DOCTYPE html>
<html>

<head>
    <title>BlogDuLich</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'user/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'user/application', 'data-turbolinks-track': 'reload' %>
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
</head>

<body>   

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <%= link_to image_tag("logo.png", alt: "logo"), '/', class: 'navbar-brand' %>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="<%= params[:controller] == 'tours' ? 'active' : '' %>"><%= link_to "TOURS", tours_path %></li>
                            <li class="<%= params[:controller] == 'tourhot' ? 'active' : '' %>"><%= link_to "TOURS MƠÍ", tourhot_index_path %></li>
                            <li class="<%= params[:controller] == 'blogs' ? 'active' : '' %>"><%= link_to "CẨM NANG DU LỊCH", blogs_path %></li>                   
                            <li class="<%= params[:controller] == 'about' ? 'active' : '' %>"><%= link_to "GIỚI THIỆU",  options_about_path %></li>
                            <li class="<%= params[:controller] == 'support' ? 'active' : '' %>"><%= link_to "HỖ TRỢ", options_support_path %></li>
                                </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
            
        </div>
        <!-- /.container -->
    </nav>
    <!-- het narbar -->
    <div >
        <%= yield %>        
    </div> 
    <%= render 'partials/footer' %>

</body>

</html>
